<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Car Dealership Home</title>
</head>
<body>
  <div class="container">
    <h1>Car Dealership</h1>
    <hr>
    <p>Welcome to the one stop shop for all your cars!</p>

    <a href="/cars">View all cars.</a>
    <a href="/cars/new">Add a new car.</a>
  </div>
</body>
</html>